<!DOCTYPE html>
<html>
<head>
	<title>浦东城运中心专项组数据录入平台</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"/>
	<style type="text/css">
		div.main{
			margin: 20px 10px;
		}
		div.main input{
			display: block;
			margin-top: 10px;
		}
	</style>
</head>
<body>
	<div class="main">

	</div>
</body>
<script type="text/javascript" src='../static/js/jquery.min.js'></script>
<script type="text/javascript" src='../static/js/forms.js'></script>
</html>