<!DOCTYPE html>
<html>
<head>
	<title>浦东城运中心专项组数据录入平台</title>
	<meta charset="utf-8"/>

	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../static/css/formdetails.css"/>
</head>
<body>
	<div class="main"></div>
	<div class='message'></div>
	<input type="button"  class='btn btn-default' value='提交' onclick='updataForm()'/>
</body>
<script type="text/javascript" src='../static/js/jquery.min.js'></script>
<script type="text/javascript" src="../static/js/formDetails.js"></script>
</html>